<form method="post">
    {% csrf_token %}
    
    <h1>{{ quiz.title }}</h1>
    <p>{{ quiz.description }}</p>

    <label for="user_name">Your Name:</label>
    <input type="text" id="user_name" name="user_name" required><br><br>  <!-- Ensure the name attribute is correct -->

    {% for question in questions %}
        <div class="question">
            <p>{{ question.question_text }}</p>
            <div class="options">
                <label>
                    <input type="radio" name="{{ question.id }}" value="{{ question.option_1 }}">
                    {{ question.option_1 }}
                </label><br>
                <label>
                    <input type="radio" name="{{ question.id }}" value="{{ question.option_2 }}">
                    {{ question.option_2 }}
                </label><br>
                <label>
                    <input type="radio" name="{{ question.id }}" value="{{ question.option_3 }}">
                    {{ question.option_3 }}
                </label><br>
                <label>
                    <input type="radio" name="{{ question.id }}" value="{{ question.option_4 }}">
                    {{ question.option_4 }}
                </label><br>
                
            </div>
        </div>
    {% endfor %}

    
    <button type="submit">Submit</button>
</form>
